.header-nav{
        height:10vh;
        background-color: black;
}

label{
    font-size:1.5em;
    color:white;
}

.search-input{
    margin-left: 3px;
    padding-left:3px;
}

.search-container{
    display:flex;
    justify-content:center;
}